<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rest apis</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>WELCOME TO </h1>
  <h2>sorry pleace</h2>
  <h3>not account on this website</h3>


  <script src="/script.js"></script>
</body>
</html>