<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new posts</title>
</head>
<body>
  <form method="post" action="/posts">
    <input type="text" placeholder="enter the name" name="username"><br><br>
    <textarea name="content" id="" cols="20" rows="5" aria-placeholder="write a new massege" placeholder="write a massege"></textarea><br><br>
    <textarea name="hobbi" id="" cols="20" rows="5" placeholder="your are hobbis"></textarea>
    <button>submits post</button>
  </form>
</body>
</html>